<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wcy.gen.mapper.AuthTokenMapper" >

    <resultMap id="BaseResultMap" type="org.wcy.gen.model.AuthToken" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="user_id" jdbcType="VARCHAR" />
        <result column="token" property="token" jdbcType="VARCHAR" />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
        <result column="valid_time" property="valid_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, token, create_time, valid_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from auth_token
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from auth_token
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="org.wcy.gen.model.AuthToken" >
        insert into auth_token (id, user_id, token, 
            create_time, valid_time)
        values (#{id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
            #{create_time,jdbcType=TIMESTAMP}, #{valid_time,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="org.wcy.gen.model.AuthToken" >
        insert into auth_token
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="user_id != null" >
                user_id,
            </if>
            <if test="token != null" >
                token,
            </if>
            <if test="create_time != null" >
                create_time,
            </if>
            <if test="valid_time != null" >
                valid_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="user_id != null" >
                #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="token != null" >
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null" >
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="valid_time != null" >
                #{valid_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.wcy.gen.model.AuthToken" >
        update auth_token
        <set >
            <if test="user_id != null" >
                user_id = #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="token != null" >
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null" >
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="valid_time != null" >
                valid_time = #{valid_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.wcy.gen.model.AuthToken" >
        update auth_token
        set user_id = #{user_id,jdbcType=VARCHAR},
            token = #{token,jdbcType=VARCHAR},
            create_time = #{create_time,jdbcType=TIMESTAMP},
            valid_time = #{valid_time,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!--denglu  -->
    <select id="selectToken" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from auth_token
        where user_id = #{name} and token =#{token}
    </select>
</mapper>