<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leihou.interview.dao.RoleMapper" >

    <resultMap id="BaseResultMap" type="com.leihou.interview.dao.RoleMapper" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="LONGVARCHAR" />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
        <result column="rank" property="rank" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, description, create_time, rank
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from role
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from role
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.leihou.interview.dao.RoleMapper" >
        insert into role (id, name, description, 
            create_time, rank)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
            #{create_time,jdbcType=TIMESTAMP}, #{rank,jdbcType=DECIMAL})
    </insert>

    <insert id="insertSelective" parameterType="com.leihou.interview.dao.RoleMapper" >
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="create_time != null" >
                create_time,
            </if>
            <if test="rank != null" >
                rank,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="create_time != null" >
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="rank != null" >
                #{rank,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.leihou.interview.dao.RoleMapper" >
        update role
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="create_time != null" >
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="rank != null" >
                rank = #{rank,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.leihou.interview.dao.RoleMapper" >
        update role
        set name = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=LONGVARCHAR},
            create_time = #{create_time,jdbcType=TIMESTAMP},
            rank = #{rank,jdbcType=DECIMAL}
        where id = #{id,jdbcType=VARCHAR}
    </update>
  
    
</mapper>